{%include pageglobal.html %}

{% assign    scopedinfoname = 'log-' | append: ryear %}
{% if site.data[scopedinfoname] %}
{% assign log = site.data[scopedinfoname] %}
{% endif %}

<h2>Lectures Log - A.Y. {{ryear}}/{{ryear | plus: 1}}</h2>


 <div class="card mb-3">
<div class="card-body">
<label for="jumptoyear" class="card-title">Select year</label>
<select class="form-control form-control-sm" ame="jumptoyear" id="jumptoyear">
<option {% if ryear == ayear %} selected {% endif %} value="/en/log">Current academic year ({{ ayear }}/{{ ayear | plus: 1 }})</option>
{% for file_hash in site.data %}
{% assign prefix = file_hash[0] | slice: 0,4 %}
{% if prefix == "log-" %}
{% assign log_year = file_hash[0] | slice: 4,4 %}
{% assign addition = log_year | plus: 0 %}
{% capture addition %}{{addition}}{% endcapture %}
{% if log_year  == addition %}
{% assign log_year = log_year | plus: 0 %}
<option {% if ryear == log_year %} selected {% endif %} value="/en/{{ log_year }}/log">Academic year {{ log_year }}/{{ log_year | plus: 1 }}</option>
{% endif %}
{% endif %}
{% endfor %}
</select>

<script>
document.getElementById('jumptoyear').addEventListener("change",function() { 
  var url = location.href; 
  location.href = document.getElementById('jumptoyear').value;  
});
</script>

{% if log %}
	<label for="jumpto" class="card-title">Jump to lecture</label>
<select class="form-control form-control-sm" ame="jumpto" id="jumpto">
{% assign dl = 0 %}
{% assign nl = 0 %}
{% for lezione in log %}
{% unless lezione.show == false %} 
{% assign nl = nl | plus: 1 %}
{% assign dl = dl | plus: lezione.duration %}
{% if nl == 1 %}{% assign primalezione = lezione %}{% endif %}
{% assign ultimalezione = lezione %}
<option value="#L{{ nl }}">{{ nl }}:{% if lezione.title[language] %} {{ lezione.title[language] }}
{% elsif lezione.title['all'] %} {{ lezione.title['all'] }}{% endif %}</option>
{% endunless %}
{% endfor %}
</select>

<script>
document.getElementById('jumpto').addEventListener("change",function() { 
  var url = location.href; 
  location.href = "#"+document.getElementById('jumpto').value;
  history.replaceState(null,null,url); 
});
</script>
{% endif %}
    </div>
	{% if log %}
    <div class="card-footer">
    <small><em>Total lectures: {{ nl }}, total lecture hours: {{ dl }}
    - First lecture: {{ primalezione.date | date: "%Y-%m-%d" }}, Last lecture: {{ ultimalezione.date | date: "%Y-%m-%d" }}
    </em></small>
    </div>
	{% endif %}
  </div>

{% if log %}
{% assign nl = 0 %}
{% for lezione in log %}
{% unless lezione.show == false %} 
{% assign nl = nl | plus: 1 %}
<h3><a name="#L{{ nl }}"/>{{ nl }}:{% if lezione.title[language] %} {{ lezione.title[language] }}
{% elsif lezione.title['all'] %} {{ lezione.title['all'] }}{% endif %}</h3>
<p><small><em>{{ lezione.date | date: "%Y-%m-%d, %H:%M" }} ({{ lezione.duration }} hours)</em></small></p>
<ul>
{% assign na = 0 %}
{% for argomento in lezione.arguments %}
{% unless argomento.show == false %} 
{% assign na = na | plus: 1 %}
<li>({{ nl }}-{{ na }}) 
{% if argomento.type == "esempio" %} 
{% if argomento[language] or argomento['all'] %}<em>Example: </em>{% else %}<em>Examples</em>{% endif %}
{% endif %}
{% if argomento[language] %} {{ argomento[language] }}
{% elsif argomento['all'] %} {{ argomento['all'] }}{% endif %}
{% if argomento.ref %} <em>(material: {{ argomento.ref }})</em> {% endif %}
</li>
{% endunless %}
{% endfor %}
{% endunless %}
</ul>

{% if lezione.notes[language] %} <p><em>{{ lezione.notes[language] }}</em></p>
{% elsif lezione.notes['all'] %} <p><em>{{ lezione.notes['all'] }}</em></p>{% endif %}

{% endfor %}


{% else %}
<div class="alert alert-warning" role="alert">
  <em>No lecture available</em>
</div>

{% endif %}
