{%include pageglobal.html %}

{% assign scopedinfoname = 'log-' | append: ryear %}
{% if site.data[scopedinfoname] %}
{% assign log = site.data[scopedinfoname] %}
{% endif %}

<h2>Diario delle Lezioni - A.A. {{ryear}}/{{ryear | plus: 1}}</h2>

{% assign logs = "" | split: "," %}
{% for page in site.pages %}
{% assign target = page.url | slice: -9,9 %}
{% if target == "/log.html" %}
{% assign log_language = page.url | slice: 1,2 %}
{% if log_language == language %}
{% assign log_year = page.url | slice: -13,4 %}
{% assign addition = log_year | plus: 0 %}
{% capture addition %}{{addition}}{% endcapture %}
{% if log_year  == addition %}
{% assign log_year = log_year | plus: 0 %}
{% assign logs = logs | push: log_year %}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}

<div class="card mb-3">
<div class="card-body">
<select class="form-control mb-1 form-control-sm" name="jumptoyear" id="jumptoyear">
<option {% if ryear == ayear %} selected {% endif %} value="/it/log">Anno accademico {{ ayear }}/{{ ayear | plus: 1 }} (corrente)</option>
{% for log_year in logs | sort | reverse %}
<option {% if ryear == log_year %} selected {% endif %} value="/it/{{ log_year }}/log">Anno accademico {{ log_year }}/{{ log_year | plus: 1 }}</option>
{% endfor %}
</select>

<script>
document.getElementById('jumptoyear').addEventListener("change",function() { 
  location.href = document.getElementById('jumptoyear').value;  
});
</script>

{% if log %}
<select class="form-control form-control-sm" name="jumpto" id="jumpto">
<option value="">Salta alla lezione...</option>
{% assign dl = 0 %}
{% assign nl = 0 %}
{% for lezione in log %}
{% unless lezione.show == false %} 
{% assign nl = nl | plus: 1 %}
{% assign dl = dl | plus: lezione.duration %}
{% if nl == 1 %}{% assign primalezione = lezione %}{% endif %}
{% assign ultimalezione = lezione %}
<option value="#L{{ nl }}">{{ nl }}:{% if lezione.title[language] %} {{ lezione.title[language] }}
{% elsif lezione.title['all'] %} {{ lezione.title['all'] }}{% endif %}</option>
{% endunless %}
{% endfor %}
</select>

{% assign temp = dl | times: 100 %}
{% assign dlrp = temp | divided_by: courseinfo.durata %}

<script>
document.getElementById('jumpto').addEventListener("change",function() { 
  let anchor = document.getElementById('jumpto').value;
  if (anchor!="") { 
	let url = location.href; 
  	location.href = "#"+ anchor;
  	history.replaceState(null,null,url); 
	document.getElementById('jumpto').value="";
  }
});
</script>
{% endif %}
</div>
    
{% if log %}
<div class="card-footer">
<small><em>Lezioni totali: {{ nl }}, ore erogate: {{ dl }} ({{dlrp}}%)
- Prima lezione: {{ primalezione.date | date: "%d/%m/%Y" }}, Ultima lezione: {{ ultimalezione.date | date: "%d/%m/%Y" }}
</em></small>

{% if dl < courseinfo.durata %}
<div class="progress" role="progressbar" aria-label="lectures" aria-valuenow="{{ dlrp }}" aria-valuemin="0" aria-valuemax="100" style="height: 5px;">
{% assign nl = 0 %}
{% for lezione in log %}
{% unless lezione.show == false %} 
{% assign nl = nl | plus: 1 %}
{% assign temp = lezione.duration | times: 100.0 %}
{% assign dlrp = temp | divided_by: courseinfo.durata %}
{% assign alt = nl | modulo: 2 %}
{% if alt == 0  %}
{% assign color = "#166079" %}
{% else  %}
{% assign color = "#1d7e9c" %}
{% endif  %}
<div class="progress-bar" style="background-color: {{color}}; width: {{ dlrp }}%"></div>
{% endunless %}
{% endfor %}

</div>
{% endif %}


</div>
{% endif %}
  </div>

{% if log %}
{% assign nl = 0 %}
{% for lezione in log %}
{% unless lezione.show == false %} 
{% assign nl = nl | plus: 1 %}
<h3><a name="#L{{ nl }}"></a>Lezione {{ nl }}:{% if lezione.title[language] %} {{ lezione.title[language] }}
{% elsif lezione.title['all'] %} {{ lezione.title['all'] }}{% endif %}</h3>
<p><small><em>{{ lezione.date | date: "%d/%m/%Y, ore %H:%M" }} ({{ lezione.duration }} ore)
{% if lezione.video %}
 - <a href="{{ lezione.video }}">registrazione della lezione disponibile</a>
{% endif %}
</em>
{% if lezione.slides %}<br/>
<span class="badge rounded-pill bg-dark"><span class="bi bi-easel"></span>Slides</span> {% for slide in lezione.slides %}<a href="{{slide.link}}">{{slide.name | default: "slides"}}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}
{% endif %}
</small></p>


<ul>
{% assign na = 0 %}
{% for argomento in lezione.arguments %}
{% unless argomento.show == false %} 
{% assign na = na | plus: 1 %}
<li><div class="d-flex">
<div class="me-1">({{ nl }}-{{ na }})</div>

<div>
{% if argomento.type == "esempio" %} 
{% if argomento[language] or argomento['all'] %}<span class="badge rounded-pill bg-secondary">Esempio</span> {% else %}<em>Esempi</em>{% endif %}
{% endif %}
{% if argomento[language] %} {{ argomento[language] }}
{% elsif argomento['all'] %} {{ argomento['all'] }}{% endif %}

{% if argomento.ref %} 
<br/><small><span class="badge rounded-pill bg-dark"><span class="bi bi-download"></span>materiale</span> {% if argomento.link %}<a href="{{ argomento.link }}">{% endif %}{{ argomento.ref }}{% if argomento.link %}</a>{% endif %}</small>
{% elsif argomento.link %}  <br/><small><span class="badge rounded-pill bg-dark"><span class="bi bi-box-arrow-up-right"></span>link</span> <a href="{{ argomento.link }}">{{ argomento.link }}</a></small> 
{% endif %}

{% if argomento.attachments %} 
{% for attachment in argomento.attachments %} 
<br/>
{% if attachment.name %}<small><span class="badge rounded-pill bg-dark"><span class="bi bi-download"></span>materiale</span> {% if attachment.link %}<a href="{{ attachment.link }}">{% endif %}{{ attachment.name }}{% if attachment.link %}</a>{% endif %}</small>
{% elsif attachment.link %}<small><span class="badge rounded-pill bg-dark"><span class="bi bi-box-arrow-up-right"></span>link</span> <a href="{{ attachment.link }}">{{ attachment.link }}</a></small> 
{% endif %}
{% endfor %}
{% endif %}

</div>

</div></li>
{% endunless %}
{% endfor %}
{% endunless %}
</ul>

{% if lezione.notes[language] %} <p><em>{{ lezione.notes[language] }}</em></p>
{% elsif lezione.notes['all'] %} <p><em>{{ lezione.notes['all'] }}</em></p>{% endif %}

{% endfor %}


{% else %}
<div class="alert alert-warning" role="alert">
  <em>Nessuna lezione disponibile</em>
</div>

{% endif %}
