h1, h2, h3 {
	font-weight: normal;
	display: block;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}

h2 {
	font-size: 180%;
	margin-bottom: 1em;
	margin-top: 1em;
}

h3 {
	font-size: 130%;	
	margin-bottom: 0.5em;
}

h4 {
	font-size: 110%;	
}


a {
  color:#1d7e9c;  
  text-decoration:none;
}
	
a:hover {
	color:#1d7e9c;
	text-decoration: underline;
}

blockquote {
  padding: 0 0 0 20px;
  font-style: italic;
  border-left: 10px solid #1d7e9c;
}

.sidebar {
	min-width: 240px;
}

.sidebar img {
	width: 98%;
	margin: 1rem 1%;
	
}

/* Footer */
footer {
  background-color: #1d7e9c;
  color: #FDFDFB;
  padding: 30px 5% 15px 5%;

}

/* Header */
header {
	background-color: #1d7e9c;
	color: #FDFDFB;
	border: 1px solid #446b83;
	border-radius: 4px;
	padding: 30px 5% 30px 15%;
	
}



header h1 {
	font-size: 30px;
	font-weight: 300;
	line-height: 1.3em;
	border-bottom: none;
	margin-top: 0;
}

header .nav {
	background-color: #166079;
	border: 1px solid #166079;
	border-radius: 4px;
	
}

header a, a.nav-link, footer a {
  color: #FDFDFB;
}

header a:hover, a.nav-link:hover, footer a:hover {
  color: #FDFDFB;
}
