---
---

{%include pageglobal.html %}

<!doctype html>
<html lang="en-US">
  <head>  	
    <meta charset="utf-8">
	<meta name="author" content="Giuseppe Della Penna"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css?v=' | append: site.github.build_revision | relative_url }}">  
	<link rel="stylesheet" href="{{ '/assets/css/bootstrap-icons.css?v=' | append: site.github.build_revision | relative_url }}">  
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	<script src="{{ '/assets/js/jquery-3.6.1.min.js?v=' | append: site.github.build_revision | relative_url }}">/* */</script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | relative_url }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | relative_url }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | relative_url }}">
	<title>{{ courseinfo.nome }} :: {{ page.title }}</title>
  </head>
  <body>
    <div class="wrapper container-fluid">
	<div class="row">
	<div class="sidebar col-sm-3 col-12">
	<img src="https://www.disim.univaq.it/skins/aqua/img/logo2021-2.png" title="" alt="University of L'Aquila" >
      <a name="top"></a>
	  <header class="sticky-md-top clearfix">
	  
        <h1 class="header"><a href="/{{language}}/info">{{ courseinfo.nome }}</a></h1>
        <p class="header">{% if courseinfo.descrizione[language] %}   {{ courseinfo.descrizione[language] }}{% elsif courseinfo.descrizione['all'] %}   {{ courseinfo.descrizione['all'] }}{% else %}{{ site.description }}{% endif %}.</p>


		<a id="menutoggle" class="d-sm-none btn btn-sm collapsed" href="#" role="button" aria-controls="menu1">Menu</a>				
		<div id="menu1" class="menu d-none d-sm-block" >

{% assign menufile = 'menu-' | append: language %}
{% if site.data[menufile] %}
		<ul class="nav mb-1 flex-row flex-sm-column nav-pills">
		{% for item in site.data[menufile] %}
		{% assign itemurlseg = item.url | split: '#' %}
		<li class="nav-item"><a  class="nav-link {% if itemurlseg[0]==page.url  %} active {% endif %}" href="{{ item.url }}">
		{% if item.icon %}<span class="bi {{item.icon}}"></span>&nbsp;{% endif %}{{ item.label }}</a></li>
		{% endfor %}
		</ul>
{% endif %}
	      
{% if layout.menuitems %}
		<ul class="nav  mb-1  flex-row flex-sm-column nav-pills">
		{% for item in layout.menuitems %}
		<li class="nav-item"><a  class="nav-link" href="{{ item.url }}">{{ item.label }}</a></li>
		{% endfor %}
		</ul>
{% endif %}

{% if page.menuitems %}
		<ul class="nav  mb-1  flex-row flex-sm-column nav-pills">
		{% for item in page.menuitems %}
		<li class="nav-item"><a  class="nav-link" href="{{ item.url }}">{{ item.label }}</a></li>
		{% endfor %}		
		</ul>
{% endif %}		

		<ul class="nav mt-1 flex-row flex-sm-column nav-pills">
		{% assign language = page.url | slice: 1,2 %}
		{% if language == 'en' %}
			<li class="nav-item"><a  class="nav-link" href="/it/{{page.url | slice: 4,5000}}"><span class="bi bi-translate"></span>&nbsp;In Italiano</a></li>
		{% elsif language == 'it' %}
			<li class="nav-item"><a  class="nav-link" href="/en/{{page.url | slice: 4,5000}}"><span class="bi bi-translate"></span>&nbsp;In English</a></li>
		{% endif %}
		</ul>
	</div>
    </header>
 </div>
			
      <section class="py-sm-5 col">
       
{{ content }}

      </section>
</div>
<div class="row mt-3">
      <div class="col-12">
	  <footer>
  {% if language == 'it' %}
  <p><small>{% if courseinfo.codice %}<strong>Codice corso:</strong> {{ courseinfo.codice }}{% endif %} {% if courseinfo.team %}<strong>Codice team del corso:</strong> {{ courseinfo.team }}{% endif %}</small></p>
	  	          <p ><strong>Docente: </strong> <a href="{{ courseinfo.docente.url }}">{{ courseinfo.docente.nome }}</a></p>  	            	  
  	              <p><strong>Ricevimento studenti docente: </strong> {{ courseinfo.docente.ricevimento['it'] }} <em>(E’ consigliabile contattare preventivamente il docente per concordare le modalità del ricevimento</em>)</p>
				<p><strong>Email docente:</strong> {{ courseinfo.docente.email }}</p>
		{% else %}
		<p><small>{% if courseinfo.codice %}<strong>Course code:</strong> {{ courseinfo.codice }}{% endif %} {% if courseinfo.team %}<strong>Course team code:</strong> {{ courseinfo.team }}{% endif %}</small></p>
	      <p ><strong>Teacher: </strong> <a href="{{ courseinfo.docente.url }}">{{ courseinfo.docente.nome }}</a></p>
       <p ><strong>Teacher Office Hours: </strong> {{ courseinfo.docente.ricevimento['en'] }} <em>(Please contact the teacher in advance to agree the meeting modality</em>)</p>
	<p ><strong>Teacher Email:</strong> {{ courseinfo.docente.email }}</p>
	{% endif %}
      </footer>
	  </div>
	  </div>
    </div>
  <a id="totop" href="#top"><i class="bi bi-chevron-double-up"></i></a>
  <script src="{{ '/assets/js/bootstrap.min.js?v=' | append: site.github.build_revision | relative_url }}">/* */</script>	
  <script src="{{ '/assets/js/scripts.js?v=' | append: site.github.build_revision | relative_url }}">/* */</script>
  </body>
</html>
